

   .text {
    position: relative;
    margin-left: 500px;

  }
  
  .text::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    background-color:black;
    transition: width 0.5s ease-in;
  }
  
  .text:hover::before {
    width: 230px;
  }
  
/* Appbar.css */

